.image{
    width: 379px;
    height: 379px;
    object-fit: cover;
    border-radius: 10px;
}
.regions{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 150px;
}
.countrymail{
    display: flexbox;
    column-count: 2 !important;
}
.upside{
    display: flexbox;
    column-count: 2;
    margin: 50px 0px 50px 0px;

}
.h1{
    font-size: 3rem;
    letter-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
section{
    padding-bottom: 100px !important;
}
a{
    text-decoration: underline !important;

}