<div *ngIf="card != undefined">
  <div class="container" style="min-height: 2800px">
    <section class="d-flex flex-column" style="margin-top: 25px">
      <div>
        <h1 style="font-size: 30px; font-weight: 500">{{ card.name }}</h1>
      </div>
      <div class="d-flex justify-content-between" style="font-size: 15px">
        <div
          class="d-flex justify-content-evenly align-items-center"
          style="min-width: 15%"
        >
          <span>
            <span>
              <span style="margin-right: 5px">
                <fa-icon [icon]="faStar"></fa-icon>
              </span>
            </span>
            <span>{{ card.starCount }}.0</span>
          </span>
          <span style="margin: 0 5px">·</span>
          <span>
            <span>
              <span style="margin-right: 5px">
                <fa-icon [icon]="faPerson"></fa-icon>
              </span>
            </span>
            <span>Superhost</span>
          </span>
          <span style="margin: 0 5px">·</span>
          <span>
            <span style="text-decoration: underline; font-weight: 500">
              {{ card.city }},{{ card.country }}
            </span>
          </span>
        </div>
        <div class="d-flex justify-content-center" style="width: 20%">
          <span class="share-button d-flex align-items-center p-2">
            <span>
              <span style="margin-right: 5px">
                <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
              </span>
            </span>
            <span>share</span>
          </span>
          <span class="share-button d-flex align-items-center p-2">
            <span>
              <span style="margin-right: 5px">
                <fa-icon [icon]="faHeart"></fa-icon>
              </span>
            </span>
            <span>save</span>
          </span>
        </div>
      </div>
    </section>
    <section class="image-slider">
      <app-image-slider
        [sliderImages]="getAllImages(card.rooms)"
        [width]="'800px'"
        [height]="'560px'"
      ></app-image-slider>
    </section>
    <section class="d-flex flex-column" style="margin-top: 40px">
      <div class="d-flex">
        <div style="width: 70%; margin-left: 10px">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column" style="margin: 15px 0">
              <h1>Hosted by {{ hostName(card.hostInformation.hostName) }}</h1>
              <div class="d-flex">
                {{ personCount(card.rooms) }} Guests ·
                {{ bedRoomCount(card.rooms) }} Beds ·
                {{ bathRoomCount(card.rooms) }} Baths
              </div>
            </div>
            <div>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8jHWqdlzhWF9BkKJeGpw2nHlImVzgnL2blQMl77LPpcbNbmAPdLKo2wXWXrXrWx4Tnio&usqp=CAU"
                style="height: 55px; width: 55px; border-radius: 50%"
              />
            </div>
          </div>
          <hr />
          <div class="d-flex flex-column" style="margin: 35px 0">
            <div class="d-flex align-items-center">
              <div style="font-size: 25px">
                <fa-icon [icon]="faMedal"></fa-icon>
              </div>
              <div class="d-flex flex-column">
                <div
                  style="margin-left: 15px; font-size: 20px; font-weight: 400"
                >
                  {{ hostName(card.hostInformation.hostName) }} is a superhost
                </div>
                <div style="margin-top: 10px; margin-left: 15px; color: grey">
                  Superhosts are experienced, highly rated hosts who are
                  committed to providing great stays for guests.
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 25px">
              <div style="font-size: 25px">
                <fa-icon [icon]="faCalendar"></fa-icon>
              </div>
              <div class="d-flex flex-column">
                <div
                  style="margin-left: 15px; font-size: 20px; font-weight: 400"
                >
                  Free cancellation within
                  {{ card.freeCancellationDaysCount }} days
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center" style="margin-top: 30px">
              <div style="font-size: 25px">
                <fa-icon [icon]="faChildren"></fa-icon>
              </div>
              <div class="d-flex flex-column">
                <div
                  style="margin-left: 15px; font-size: 20px; font-weight: 400"
                >
                  {{ childPolicy(card.rooms) }}
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="d-flex flex-column" style="margin: 35px 0">
            <img
              src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg"
              style="height: 26px; width: 125px"
            />
            <div style="margin-top: 20px; font-size: 16px">
              Every booking includes free protection from Host cancellations,
              listing inaccuracies, and other issues like trouble checking in.
            </div>
            <div>
              <button
                style="
                  text-decoration: underline;
                  margin-top: 10px;
                  font-size: 16px;
                  font-weight: 500;
                  background-color: white;
                  border: none;
                "
                (click)="openDialogAircover()"
              >
                Learn more
              </button>
            </div>
          </div>
          <hr />
          <div style="margin: 35px 0">
            <h1>Description</h1>
            <p>{{ makeSubstring(card.description) }}</p>
            <div *ngIf="card.description.length > 500">
              <button
                style="
                  text-decoration: underline;
                  margin-top: 10px;
                  font-size: 16px;
                  font-weight: 500;
                  background-color: white;
                  border: none;
                "
                (click)="openDialogDescription(card.description)"
              >
                Learn more
              </button>
            </div>
          </div>
          <hr />
          <div class="d-flex flex-column" style="margin: 35px 0">
            <h1>what this place offers</h1>
            <div class="d-flex flex-wrap">
              <div
                class="div"
                style="width: 49%; font-size: 16px; margin: 6px 0"
                *ngFor="let amenities of card.placeOffers.slice(0, 10)"
              >
                {{ amenities }}
              </div>
            </div>
            <button
              class="mn-button"
              (click)="openDialogAmenities(card.placeOffers)"
            >
              Show all {{ card.placeOffers.length }} Amenities
            </button>
          </div>
        </div>
        <div>
          <div style="height: 400px; width: 375px; margin: 20px 60px">
            <app-reservation
              [maxGuestCount]="personCount(card.rooms)"
              [payOnDay]="getCardPrice(card.rooms)"
              [startDate]="startDate"
              [endDate]="endDate"
              [childPolicy]="childrenAllowed(card.rooms)"
            ></app-reservation>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div style="margin: 20px 0 5px 10px; font-size: 18px; font-weight: 500">
          <div>
            <h1 style="margin: 0px 0 15x 0px">Select checkout date</h1>
            <app-calendar (dataEvent)="takedata($event)"> </app-calendar>
          </div>
          <hr />
          <div style="margin-top: 35px">
            <h1>Where you'll be</h1>
            <app-map [lat]="card.latitude" [lng]="card.longitude"> </app-map>
            <div
              style="margin: 20px 0 5px 10px; font-size: 18px; font-weight: 500"
            >
              {{ card.city }},{{ card.country }}
            </div>
          </div>
          <hr />
        </div>
        <div style="margin: 25px 0">
          <div class="d-flex">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8jHWqdlzhWF9BkKJeGpw2nHlImVzgnL2blQMl77LPpcbNbmAPdLKo2wXWXrXrWx4Tnio&usqp=CAU"
              style="height: 55px; width: 55px; border-radius: 50%"
            />
            <h1 style="margin-left: 20px; margin-top: 5px">
              Hosted by {{ hostName(card.hostInformation.hostName) }}
            </h1>
          </div>
          <div class="d-flex" style="margin: 15px 10px; font-size: 16px">
            <fa-icon [icon]="faUserCheck"></fa-icon>
            <p style="margin-left: 8px">Identity verified</p>
            <fa-icon [icon]="faMedal" style="margin-left: 8px"></fa-icon>
            <p style="margin-left: 8px">Superhost</p>
          </div>
          <div style="margin: 17px 8px">
            <p style="font-size: 20px">Contact Information</p>
            <p>Phone number : {{ card.hostInformation.phoneNumber }}</p>
            <p>Email Address : {{ card.hostInformation.emailAddress }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-inner-pg-footer></app-inner-pg-footer>
</div>
