<div style="margin-bottom: 20px">
  <button class="close-btn" (click)="closeDialog()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>
</div>
<img
  src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg"
  style="height: 30px; width: 150px; margin-bottom: 20px"
/>
<p style="margin-bottom: 30px">
  AirCover is comprehensive protection included for free with every booking.
</p>
<hr />
<div class="d-flex flex-wrap">
  <div style="width: 45%; margin-right: 10px">
    <h1>Booking Protection guarantee</h1>
    <p style="color: grey">
      In the unlikely event a Host needs to cancel your booking within 30 days
      of check-in, we’ll find you a similar or better home, or we’ll refund you.
    </p>
  </div>
  <div style="width: 45%">
    <h1>Check-In Guarantee</h1>
    <p style="color: grey">
      If you can’t check into your home and the Host cannot resolve the issue,
      we’ll find you a similar or better home for the length of your original
      stay, or we’ll refund you.
    </p>
  </div>
  <div style="width: 45%; margin-right: 10px">
    <h1>Get-What-You-Booked Guarantee</h1>
    <p style="color: grey">
      If at any time during your stay you find your listing isn't as
      advertised—for example, the refrigerator stops working and your Host can’t
      easily fix it, or it has fewer bedrooms than listed—you'll have three days
      to report it and we’ll find you a similar or better home, or we’ll refund
      you.
    </p>
  </div>
  <div style="width: 45%">
    <h1>24-hour Safety Line</h1>
    <p style="color: grey">
      If you ever feel unsafe, you’ll get priority access to specially-trained
      safety agents, day or night.
    </p>
  </div>
</div>
