.account-box {
  margin-top: 3rem;
  min-height: 31rem;
  border: 1px solid rgba(192, 192, 192, 0.5);
}
.container {
  padding: 0;
}
.mat-list-base {
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  width: 100%;
}