
    <article class="m-auto col-md-8  justify-content-start">
        <img class="image"   alt="Two people sitting at a table in a library, reviewing a document."  src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt1218bbc6d8c51315/61dcad421757dc6aed2ade70/airbnb-privacy.jpeg" data-original-uri="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt1218bbc6d8c51315/61dcad421757dc6aed2ade70/airbnb-privacy.jpeg">
            <h1>Privacy Policy</h1>
        <p>Our Privacy Policy explains what personal information we collect, how we use personal information, <br> how personal information is shared, and privacy rights.</p>
    <h2>North America (excluding Mexico)</h2>
        <ul>
            <li><a class="text-muted">Privacy Policy for the United States</a> </li>
            <li><a class="text-muted" >Privacy Policy for outside of US (English)</a></li>
            <li><a class="text-muted">Privacy Policy for outside of US (French)</a></li>
        </ul>
    <h2>Latin America (including Mexico, Central and South America and the Caribbean)</h2>
        <ul>
            <li><a class="text-muted"  >Privacy Policy for Latin America  (English)</a></li>
            <li><a class="text-muted" >Privacy Policy for Latin America  (Spanish)</a></li>
            <li><a class="text-muted">Privacy Policy for Latin America (Portuguese)</a></li>
        </ul>
    <h2>Europe, Middle East, and Africa </h2>
        <ul>
            <li><a class="text-muted" >Privacy Policy for the Europe, Middle East, Africa and other countries</a>  </li>
        </ul>
    <h2>Asia Pacific</h2>
        <ul>
            <li><a class="text-muted" >Privacy Policy for Asia Pacific (excluding China)</a></li>
        </ul>
    <h2>China</h2>
        <ul>
            <li><a class="text-muted" >Privacy Policy for China</a></li>
        </ul>
    
    <div class="hpwdvd6 dir dir-ltr">
        <p>Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.</p>
        <p><strong>Supplemental Privacy Policy Documents:</strong></p>
        <ul>
            <li><a class="text-muted" >Non-User DAC7</a></li>
            <li><a class="text-muted" >Outside of United States</a></li>
            <li><a class="text-muted" >California and Vermont</a></li>
            <li><a class="text-muted" >Cookie Policy</a></li>
            <li><a class="text-muted" >Enterprise Customers and Airbnb for Work</a></li>
            <li><a class="text-muted" >Colombia Only</a></li>
        </ul>
    </div>
    <h2 >Related articles </h2>
        <ul >
                <li>
                    <a  class="text-muted"  >Privacy Policy,please review our Privacy Policy.</a>
                </li>
                <li >
                    <a class="text-muted"  >Privacy Policy for the United States,Please review our Privacy Policy.</a>
                </li>
                <li >
                    <a class="text-muted" >Airbnb basics,verifying your identity,your security is important to us. Check out the steps we take to not only verify your identity, but to keep it safe.</a>
                </li>
        </ul>   
    </article>
  