<div class="main">
  <div class="d-flex container justify-content-between">
    <div class="d-flex flex-column sub-menus">
      <div class="head-title">Support</div>
      <div class="sub-titles">Help Center</div>
      <div class="sub-titles">AirCover</div>
      <div class="sub-titles">Supporting people with disabilities</div>
      <div class="sub-titles">Cancellation options</div>
      <div class="sub-titles">out Covid-19 Response</div>
      <div class="sub-titles">Report a neighborhood concern</div>
    </div>
    <div class="d-flex flex-column sub-menus">
      <div class="head-title">Support</div>
      <div class="sub-titles">Airbnb.org: disaster relief housing</div>
      <div class="sub-titles">Combating discrimination</div>
    </div>
    <div class="d-flex flex-column sub-menus">
      <div class="head-title">Hosting</div>
      <div class="sub-titles">Airbnb your home</div>
      <div class="sub-titles">AirCover for Hosts</div>
      <div class="sub-titles">Explore hosting resources</div>
      <div class="sub-titles">Visit our community forum</div>
      <div class="sub-titles">How to host responsibly</div>
    </div>
    <div class="d-flex flex-column sub-menus">
      <div class="head-title">Hosting</div>
      <div class="sub-titles">Newsroom</div>
      <div class="sub-titles">Learn about new features</div>
      <div class="sub-titles">Letter from our founders</div>
      <div class="sub-titles">Careers</div>
      <div class="sub-titles">Investors</div>
      <div class="sub-titles">Gift cards</div>
    </div>
  </div>
</div>
